
body {
  margin-top: 10px;
  padding: 0;
  background: #787878 url(images/background.jpg) repeat left top;
  text-align: justify;
  font: 12px/170% Verdana, sans-serif;
  color: #494949;
  font-size: 12px;
}

h1, h2, h3 {
  margin-top: 0;
  color: #528DC8;
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1em;
}

ul li.leaf, ul li.collapsed{
list-style-image:none;
}

a {
  text-decoration: none;
  color: #528DC8;
}

a:hover {
  border-bottom: none;
}

a img {
  border: none;
}

img.left {
  float: left;
  margin: 0 20px 0 0;
}

img.right {
  float: right;
  margin: 0 0 0 20px;
}

#header {
  width: 960px;
  margin: 0 auto;
  height: 150px;
}

/* Header */

#header_logo {
  width: 960px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
}

#header_logo h1, #header_logo p {
  float: left;
  margin: 0;
  color: #528DC8;
}

#header_logo span.site-title {
  color:#000000;
  float:none;
  margin-top:0px;
  padding-left:10px;
  padding-top:0px;
  font-size: 36px;
  font-family:Georgia;
  text-transform:lowercase;
}
#header_logo span {
  color:#110E0F;
font-size:10px;
padding:31px 0 0 3px;
text-transform:uppercase;
float:left;
line-height:36px;
}
#header_logo #logo {
  float:left;
}
#header_logo h1 {
  padding: 0px;
  letter-spacing: -1px;
  text-transform: lowercase;
  font-weight: normal;
}

#header_logo p {
  text-transform: uppercase;
  padding: 47px 0 0 3px;
  font-size: 10px;
  color: #110E0F;
}

#header_logo a {
  border: none;
  text-decoration: none;
  color: #528DC8;
}

/* Menu */

#primary-menu {
  width: 960px;
  margin: 0px auto;
  padding: 0px;
  height: 52px;
  background: url(images/img02.jpg) no-repeat left top;
}

#primary-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#primary-menu li {
  display: inline;
  padding:0px;
}

#primary-menu a {
  display: block;
  float: left;
  height: 37px;
  margin: 0px;
  padding: 13px 30px 0px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: url(images/img03.jpg) no-repeat right 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: #FFFFFF;
  font-weight:normal;
}

#primary-menu a:hover {
  color: #FFFFFF;
}

#primary-menu .current_page_item a {
  color: #FFFFFF;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
  width: 960px;
  margin: 0px auto;
  background: url(images/img05.jpg) repeat-y left top;
}

#page-bgtop {
  background: url(images/img04.jpg) no-repeat left top;
}

#page-bgbtm {
  background: url(images/img06.jpg) no-repeat left bottom;
}


/* Latest Post */

#latest-post {
  padding: 20px;
  border: 1px solid #E7E7E7;
}

/* Content */

#content {
  float: left;
  width: 500px;
  margin: 0px;
  padding: 20px 0px 0px 0px;
}

#center {
  margin:0px 10px;
}
#center .content{
  padding:0 10px;
  margin-top:20px;
}
#center h1 {
  background:url("images/img12.jpg") no-repeat scroll left top transparent;
  font-weight:normal;
  height:50px;
  margin:0 0px;
  padding:11px 0 4px 10px;
  text-transform:capitalize;
}
.page-title {
  height: 35px;
  margin: 0px 0px;
  padding: 11px 0px 4px 0px;
  font-weight: normal;
  /* background: url(images/img12.jpg) no-repeat left top;*/
}
#center .node h2 {
background:url("images/img12.jpg") no-repeat scroll left top transparent;
font-weight:normal;
height:42px;
padding:11px 0 4px 10px;
text-transform:capitalize;
font-family:Georgia,"Times New Roman",Times,serif;
}
#center .node p {
  font-family:Georgia,"Times New Roman",Times,serif;
  color:#616161;
  margin:0px;
  line-height:22px;
}
.page-title a {
  border-bottom: none;
  color: #528DC8;
}

.page-title a:hover {
}


.links {
  padding: 4px 0px;
  text-align: right;
  font-weight: bold;
}

.links a {
  border: none;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:12px;
  font-weight:normal;
  color:#528DC8;
}

.links a:hover {
}
.submitted {
margin:-10px 20px 20px 10px;
color:#616161;
font-size:10px;
font-family:Georgia,"Times New Roman",Times,serif;
}

/* Sidebars */

#sidebar-left {
  float: left;
  padding-top: 20px;
  padding-left: 10px;
}
#sidebar-left .block .block_header {
  color:#333333;
  padding-top:13px;
  background:transparent url(images/empty-left-block-header.jpg) no-repeat scroll left top;
  height:20px;
}

#sidebar-left .block h2 {
  color:#333333;
  padding-top:13px;
  background:transparent url(images/left-block-header.jpg) no-repeat scroll left top;
  height:20px;
}
#sidebar-left .block .content {
  background:transparent url(images/img10.jpg) repeat-y scroll left top;
  padding:8px 5px 8px 20px;
}

#sidebar-left .block .content ul {
  padding-bottom: 2px;
}

#sidebar-left .block .content ul li ,#sidebar-right .block .content ul li{
  list-style:none;
  border-bottom:1px dashed #B5B5B5;
  padding:8px 0 8px 20px;
  background:transparent url(images/img08.gif) no-repeat scroll 0 13px;
  margin:0 10px 0 15px;
  color:#616161;
  font-family:Georgia,"Times New Roman",Times,serif;
}

#sidebar-left .block .content ul li.expanded ul li.last,#sidebar-right .block .content ul li.expanded ul li.last{
border-bottom:none;
}
#sidebar-left .block {
  background: url(images/img11.jpg) no-repeat left bottom;
  padding-bottom:30px;
}

/*
#sidebar-left li ul {
  background: url(images/img10.jpg) repeat-y left top;
}

#sidebar-left li li {
  background: url(images/img08.gif) no-repeat 0 13px;
}
*/

#sidebar-right {
  float:right;
}
.sidebar {
  float: left;
  width: 220px;
  padding: 10px 0 0 0;
  font-size: 12px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  padding: 0 0 20px 0;
}

.sidebar li ul {
}

.sidebar li li {
  margin: 0 10px 0 15px;
  padding: 8px 0px 8px 20px;
  border-bottom: 1px #B5B5B5 dashed;
  text-align: left;
}

#sidebar-right .block .block_header {
  color:#333333;
  padding-top:10px;
  background:transparent url(images/empty-white-block-header.gif) no-repeat scroll left top;
}

#sidebar-right .empty-header {
  background:transparent url(images/empty-white-block-bottom.gif) no-repeat scroll left bottom;
  padding-bottom:30px;
}

#sidebar-right .empty-header .content {
  border-left:1px solid #d5d5d5;
  border-right:1px solid #d5d5d5;
  background-color:#FFFFFF;
  padding:8px 5px 8px 20px;
}
#sidebar-right .empty-header .content p,
#sidebar-left .content p {
  margin:0px;

}
/* .sidebar .block_header {
  height: 30px;
  background: url(images/empty-right-block-header.jpg) no-repeat left top;
}
*/

.sidebar h2 {
  margin: 0 0 0 0;
  padding: 5px 15px 0px 35px;
  font-size: 12px;
  color: #FFFFFF;
  height: 30px;
  background: url(images/right-block-header.jpg) no-repeat left top;
}

.sidebar a {
}
/*login form */
#user-login-form .form-item {
  margin-top:0px;
}
/* Search */
.block-theme {
  margin:10px 0px;

}

/* Footer */

#footer {
  width: 940px;
  height: 70px;
  margin: 0 auto;
  padding-left: 20px;
}

#footer p {
  margin: 0;
  padding: 25px 0 0 0;
  text-align: left;
  font-size: smaller;
  color:#616161;
  font-size:10px;
  font-family:Georgia,"Times New Roman",Times,serif;
}

#footer a {
  color:##528DC8;
  font-size:10px;
  font-family:Georgia,"Times New Roman",Times,serif;
}

#footer .link {
  float: right;
}

#footer .copyright {
  float: left;
}

table {
  margin: 1em 0;
  width: 100%;
}

#search-theme-form .container-inline label {
  display:block;
}

/**
 * Nodes & comments
 */
.node {
  margin:0px;
  padding:8px 0;
}

.node h2 {
/*  background:transparent url(images/img12.jpg) no-repeat scroll left top; */
  font-weight:normal;
  margin:0px;
  padding:11px 0 4px 0px;
  text-transform:capitalize;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
  font-weight:bold;
  padding:4px 0;
  text-align:right;
}

.comment {
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #BBBBBB;
}

div.admin .left,
div.admin .right {
  margin:0px;
}